@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

@font-face {
    font-family: 'Black Han Sans';
    src: url('/Users/downjuhyun/Downloads/Black_Han_Sans/BlackHanSans-Regular.ttf') format('truetype');
    /* 다른 폰트 포맷을 지원하려면 여기에 추가적인 src 라인을 작성합니다. */
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f7f7f7;
}

h1 {
    font-size: 50px;
    font-family: 'Black Han Sans', sans-serif;
    color: #333;
    padding: 10px;
    border-radius: 5px;
}

p {
    color: #666;
}

#pro-p{
    font-size: 30px;
    font-family: 'Black Han Sans', sans-serif;
    color: #333;
}

#intp-p {
    font-size: 40px; font-weight: bold;
}

#aboutme-h3 {
    border-radius: 30px;
    background-color: #f3c5c5;
    width: 60%;
    margin: 50px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.navbar {
    position: fixed;
    top: 0;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #11264f;
    padding: 20px;
    transition: top 0.3s;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}

ul.navbar li {
    display: inline-block;
}

ul.navbar li.right-item {
    justify-content: center;
}

.navbar li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 1.3em;
}

.navbar li a:hover {
    background-color: #333;
}

.section {
    margin-top: 100px;
    text-align: center;
    display: none;
}

.show {
    display: block;
}

.section table {
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
}

.section td {
    padding: 50px
}

.section ul {
    list-style-type: none;
    padding: 0;
}

.section li {
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.profile-img {
    height: 500px;
    border-radius: 5%;
    object-fit: cover;
    margin-bottom: 10px;
    flex-shrink: 0;
    margin-right: 20px;

}

#profile-div{
    display:flex; 
    align-items: center;
}

#typing-text{
    text-align: left; 
    font-size: 2.5vw;; 
    font-family: 'Roboto', sans-serif;
}

.mento-img {
    height: 500px;
    object-fit: cover;
    margin-bottom: 10px;
    flex-shrink: 0;
    margin-right: 20px;
    border: none;
}

.content {
    flex-grow: 1;
}

.tec-img {
    width: auto;
    height: 100px;
    display: inline-block;
    margin-bottom: 20px;
}

.intp-img {
    margin-right: 30px;
    margin-left: 30px;

}

.table-cell {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
    text-align: center;
}

#home {
    align-items: center;
    margin-top: 100px;
    width: auto;
    height: auto;
    border: 8px solid #11264f;
    border-radius: 20px;
    padding: 30px 50px;
    justify-items: center;
}

.box2 {
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 30px 50px;
    width: auto;
    height: 500px;
    background-color: #a3a3a3;
}


.section {
    display: none;
}

.section.show {
    display: block;
}

#skills tr {
    background-color: #f2f2f2;
}

#skills td {
    border-radius: 50px;
    border-width: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.custom-div {
    font-size: 40px;
    /* 텍스트 크기 설정 */
    /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 그림자 설정 */
}

.responsive-table {
    display: flex;
    flex-wrap: wrap;
}

.table-row {
    display: flex;
    width: 100%;
}

.table-cell {
    flex-basis: calc(100% / 3);
    padding: 10px;
    text-align: center;
}

.pro-box {
    width: 800px;
    height: 600px;
    background-color: #f2f2f2;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.pro-box img {
    max-width: 60%;
    height: auto;
}

/* 작은 화면 (모바일) */
@media (max-width: 767px) {
    /* 필요한 스타일 작성 */
    .navbar {
        padding: 10px;
    }

    .navbar li a {
        font-size: 0.8em;
    }
    h1 {
        font-size: 30px;
        padding: 5px;
    }

    .section table {
        font-size: 0.9em;
    }

    .section li {
        margin-bottom: 2em;
    }

    .section td {
        padding: 10px;
    }

    #profile-div {
        flex-direction: column; /* 세로 방향으로 정렬 */
        align-items: flex-start; /* 왼쪽 정렬 */
    }

    .profile-img {
        height: 300px;
        margin: 0 auto;
    }
    
    #typing-text{
        text-align: center;
    }

    .mento-img {
        height: 300px;
        margin-bottom: 7px;
        margin-right: 15px;
    }


    .tec-img {
        height: 50px;
        margin-bottom: 10px;
    }

    .intp-img {
        margin-right: 10px;
        margin-left: 10px;
    }

    .table-cell {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 20px;
    }

    #home {
        padding: 20px;
        margin-top: 80px;
    }

    .box2 {
        padding: 20px;
        height: 350px;
    }

    .custom-div {
        font-size: 30px;
    }

    .content {
        flex-grow:1;
    }

    #intp-p {
        font-size: 30px; font-weight: bold;
    }

    .pro-box {
        width: 100%;
    }

    .pro-box img {
        max-width: 50%;
        height: auto;
    }
    .pro-box {
        width: 600px;
        height: 400px; 
        margin-bottom: 60px ; 
    }
    #pro-p{
        font-size: 25px;
    }

    #pro-li {
        margin-bottom: 5px;
    }
}

/* 중간 크기 화면 (태블릿) */
@media (min-width: 768px) and (max-width: 1023px) {
    /* 필요한 스타일 작성 */
    .navbar {
        padding: 15px;
    }
    .navbar li a {
        font-size: 1em;
    }
    h1 {
        font-size: 40px;
        padding: 8px;
    }

    #intp-p {
        font-size: 35px; font-weight: bold;
    }

    .section table {
        font-size: 1em;
    }

    .section td {
        padding: 20px;
    }

    .profile-img {
        height: 400px;
        margin-bottom: 7px;
        margin-right: 15px;
    }

    .mento-img {
        height: 400px;
        margin-bottom: 7px;
        margin-right: 15px;
    }

    .tec-img {
        height: 75px;
        margin-bottom: 15px;
    }

    .intp-img {
        margin-right: 15px;
        margin-left: 15px;
    }

    .table-cell {
        padding-left: 80px;
        padding-right: 80px;
        padding-bottom: 25px;
    }

    #home {
        padding: 25px;
        margin-top: 90px;
    }

    .box2 {
        padding: 25px;
        height: 400px;
    }

    .custom-div {
        font-size: 35px;
    }

    .pro-box {
        width: calc(50% - 20px);
    }
    
    .pro-box img {
        max-width: 55%;
        height: auto;
    }
    .pro-box {
        width: 700px;
        height: 500px;  
        margin-bottom: 80px ; 
 
    }

    #pro-p{
        font-size: 25px;
    }

    #pro-li {
        margin-bottom: 15px;
    }
}

/* 큰 화면 (데스크탑) */
@media (min-width: 1024px) {
    /* 필요한 스타일 작성 */
    .navbar {
        padding: 20px;
    }

    h1 {
        font-size: 50px;
        padding: 10px;
    }

    .section table {
        font-size: 1.2em;
    }

    .section td {
        padding: 35px;
    }

    .profile-img {
        height: 500px;
        margin-bottom: 10px;
        margin-right: 20px;
    }

    .mento-img {
        height: 500px;
        margin-bottom: 10px;
        margin-right: 20px;
    }

    .tec-img {
        height: 100px;
        margin-bottom: 20px;
    }

    .intp-img {
        margin-right: 30px;
        margin-left: 30px;
    }

    .table-cell {
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 30px;
    }

    #home {
        padding: 30px 50px;
    }

    .box2 {
        padding: 30px 50px;
        height: 500px;
    }

    .custom-div {
        font-size: 40px;
    }

    #pro-li {
        margin-bottom: 20px;
    }
}